<input type="text" #inputValue>
<button (click)="onClick(inputValue)">click</button>
<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-baseline mt-4">
    <div>
      <h3 class="font-weight-bolder">{{'UPSERT_ANNOUNCE_SCREEN.BIG_TITLE'|translate}}
      </h3>
      <p>
        {{'UPSERT_ANNOUNCE_SCREEN.PARAGRAPHE_UNDER_TITLE'|translate}}
      </p>
    </div>
    <button class="btn btn-md bg-water-violeta-state btn-md  mt-4 mb-0 text-white" type="submit" (click)="onSubmit()">
      {{'UPSERT_ANNOUNCE_SCREEN.VALID_BUTTON'|translate}}
    </button>
  </div>

  <form role="form" [formGroup]="annonceForm">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h4 class="font-weight-bolder">{{'UPSERT_ANNOUNCE_SCREEN.IMAGES_TITLE'|translate}}

            </h4>
            <form>
              <!-- IMAGES -->
              <div class="row ">
                <div class="col-sm-12 mb-2">
                  <div class="form-control">
                    <ngx-dropzone class="bg-white" (change)="onSelect($event)">
                      <ngx-dropzone-label>{{'UPSERT_ANNOUNCE_SCREEN.PICTURES_DRAG_SELECT' |
                        translate}}</ngx-dropzone-label>
                      <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>
                          {{ f.name }}

                        </ngx-dropzone-label>
                      </ngx-dropzone-preview>
                    </ngx-dropzone>
                  </div>
                  <app-custom-input-error *ngIf="requiredInformation&&(files.length<1 || !images.valid)">
                    {{'UPSERT_ANNOUNCE_SCREEN.ERROR.IMAGES_REQUIRED'|translate}}
                  </app-custom-input-error>
                </div>

                <div class="col-sm-12">
                  <app-Imges-Slider *ngIf="imageUrlList.length>0" [imageList]="imageUrlList"></app-Imges-Slider>
                </div>
                <!-- <div class="col-sm-1">
                  <button class="btn btn-sm bg-gradient-waterViolita btn-md  mt-2 mb-0 text-white" type="button"
                    (click)="resetImagesForm()">
                    Reset
                  </button>
                </div> -->
              </div>
            </form>
          </div>
        </div>

<!-- DETAILS -->
        <div class="card mt-4 mb-2">
          <div class="card-body">
            <h4 class="font-weight-bolder">{{'UPSERT_ANNOUNCE_SCREEN.DETAILS_TITLE'|translate}}

            </h4>

            <div class="row">
              <div class="col-sm-6">
                <label class="mt-2">{{'UPSERT_ANNOUNCE_SCREEN.DETAILS_FORM.PIECE'|translate}}</label>
                <select class="form-select" formControlName="piece">
                  <option value="f1">{{'UPSERT_ANNOUNCE_SCREEN.DETAILS_FORM.PIECE_TYPE.F1'|translate}}</option>
                  <option value="f2">{{'UPSERT_ANNOUNCE_SCREEN.DETAILS_FORM.PIECE_TYPE.F2'|translate}}</option>
                  <option value="f3">{{'UPSERT_ANNOUNCE_SCREEN.DETAILS_FORM.PIECE_TYPE.F3'|translate}}</option>
                  <option value="f4">{{'UPSERT_ANNOUNCE_SCREEN.DETAILS_FORM.PIECE_TYPE.F4'|translate}}</option>
                  <option value="f5">{{'UPSERT_ANNOUNCE_SCREEN.DETAILS_FORM.PIECE_TYPE.F5'|translate}}</option>
                  <option value="f6">{{'UPSERT_ANNOUNCE_SCREEN.DETAILS_FORM.PIECE_TYPE.F6'|translate}}</option>
                  <option value="more">{{'UPSERT_ANNOUNCE_SCREEN.DETAILS_FORM.PIECE_TYPE.MORE'|translate}}</option>
                </select>
                <div style="display: inline-block;">
                  <app-custom-input-error
                    *ngIf="(requiredInformation||getField('piece')?.touched) && getField('piece')?.invalid">
                    {{'UPSERT_ANNOUNCE_SCREEN.ERROR.ESTATE_REQUIRED'|translate}}
                  </app-custom-input-error>
                </div>
              </div>
              <div class="col-sm-6" formGroupName="details">
                <label class="mt-2">{{'UPSERT_ANNOUNCE_SCREEN.DETAILS_FORM.FLOOR'|translate}}</label>
                <select class="form-select" formControlName="floor">
                  <option value="0">{{'UPSERT_ANNOUNCE_SCREEN.DETAILS_FORM.FIRST_FLOOR'|translate}}</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>

                </select>
              </div>
              <div class="col-sm-5" formGroupName="details" >
                <label class="mt-3">{{'UPSERT_ANNOUNCE_SCREEN.DETAILS_FORM.FACADE'|translate}}</label>
                <input class="form-control" type="number"
                  placeholder="{{'UPSERT_ANNOUNCE_SCREEN.DETAILS_FORM.FACADE'|translate}}" formControlName="facade">
              </div>
              <div class="col-sm-7">
                <label class="mt-3">{{'UPSERT_ANNOUNCE_SCREEN.DETAILS_FORM.SURFACE'|translate}}</label>
                <div class="input-group">
                <input class="form-control" type="tel"
                  placeholder="{{'UPSERT_ANNOUNCE_SCREEN.DETAILS_FORM.SURFACE'|translate}}" formControlName="surface" aria-label="srf">
                  <span class="input-group-text" id="srf">m²</span>
                </div>
                  <div style="display: inline-block;">
                    <app-custom-input-error
                      *ngIf="(requiredInformation||getField('surface')?.touched) && getField('surface')?.invalid">
                      {{'UPSERT_ANNOUNCE_SCREEN.ERROR.ESTATE_REQUIRED'|translate}}
                    </app-custom-input-error>
                  </div>
              </div>
              <div class="col-sm-12" formGroupName="details">
                <label class="mt-3">{{'UPSERT_ANNOUNCE_SCREEN.DETAILS_FORM.STATE_PROPERTY'|translate}}</label>
                <select class="form-select" formControlName="stateProperty">
                  <option value="finished">
                    {{'UPSERT_ANNOUNCE_SCREEN.DETAILS_FORM.STATE_PROPERTY_TYPE.FINISHED_LUX'|translate}}
                  </option>
                  <option value="simple">
                    {{'UPSERT_ANNOUNCE_SCREEN.DETAILS_FORM.STATE_PROPERTY_TYPE.SIMPLE'|translate}}
                  </option>
                  <option value="carcass">
                    {{'UPSERT_ANNOUNCE_SCREEN.DETAILS_FORM.STATE_PROPERTY_TYPE.CARCASS'|translate}}</option>
                </select>
              </div>
              <div class="col-sm-6" formGroupName="details">
                <label class="mt-3">{{'UPSERT_ANNOUNCE_SCREEN.DETAILS_FORM.FURNISHED'|translate}}</label>
                <select class="form-select" formControlName="furnished">
                  <option value="yes">{{'UPSERT_ANNOUNCE_SCREEN.YES'|translate}}</option>
                  <option value="no">{{'UPSERT_ANNOUNCE_SCREEN.NO'|translate}}</option>
                </select>
              </div>
              <div class="col-sm-6" formGroupName="details">
                <label class="mt-3">{{'UPSERT_ANNOUNCE_SCREEN.DETAILS_FORM.NEGOTIABLE'|translate}}</label>
                <select class="form-select" formControlName="negotiable">
                  <option value="yes">{{'UPSERT_ANNOUNCE_SCREEN.YES'|translate}}</option>
                  <option value="no">{{'UPSERT_ANNOUNCE_SCREEN.NO'|translate}}</option>
                </select>
              </div>
            </div>

          </div>
        </div>

<!-- INFORMATION -->
      </div>
      <div class="col-sm-8 ">
        <div class="card ">
          <div class="card-body">
            <h4 class="font-weight-bolder">{{'UPSERT_ANNOUNCE_SCREEN.PRODUCT_INFORMATION_TITLE'|translate}}
            </h4>

            <div class="row">

              <div class="col-sm-6">
                <label class="mt-2">{{'UPSERT_ANNOUNCE_SCREEN.INFORMATION_FORM.ESTATE'|translate}}</label>
                <select class="form-select" formControlName="estate">
                  <option value="House">{{'UPSERT_ANNOUNCE_SCREEN.INFORMATION_FORM.ESTATE_TYPE.HOUSE'|translate}}
                  </option>
                  <option value="Apartment">
                    {{'UPSERT_ANNOUNCE_SCREEN.INFORMATION_FORM.ESTATE_TYPE.APARTMENT'|translate}}</option>
                </select>

                <div style="display: inline-block;">
                  <app-custom-input-error
                    *ngIf="(requiredInformation||getField('estate')?.touched) && getField('estate')?.invalid">
                    {{'UPSERT_ANNOUNCE_SCREEN.ERROR.ESTATE_REQUIRED'|translate}}
                  </app-custom-input-error>
                </div>
              </div>
              <div class="col-sm-6">
                <label class="mt-2">{{'UPSERT_ANNOUNCE_SCREEN.INFORMATION_FORM.ANNONCE'|translate}}</label>
                <select class="form-select" formControlName="type">
                  <option value="sale">{{'UPSERT_ANNOUNCE_SCREEN.INFORMATION_FORM.ANNONCE_TYPE.SALE'|translate}}
                  </option>
                  <option value="rent">{{'UPSERT_ANNOUNCE_SCREEN.INFORMATION_FORM.ANNONCE_TYPE.RENT'|translate}}
                  </option>
                </select>
                <div style="display: inline-block;">
                  <app-custom-input-error
                    *ngIf="(requiredInformation||getField('type')?.touched) && getField('type')?.invalid">
                    {{'UPSERT_ANNOUNCE_SCREEN.ERROR.ANNONCE_REQUIRED'|translate}}
                  </app-custom-input-error>
                </div>
              </div>


              <div class="col-sm-6" formGroupName="details">
                <label class="mt-2" for="addressInput">{{'UPSERT_ANNOUNCE_SCREEN.INFORMATION_FORM.ADDRESS' |
                  translate}}</label>
                <input class="form-control" type="text" id="addressInput"
                  placeholder="{{'UPSERT_ANNOUNCE_SCREEN.INFORMATION_FORM.ADDRESS_PLACE_HOLDER' | translate}}"
                  formControlName="address">
                <div style="display: inline-block;">
                  <app-custom-input-error
                    *ngIf="(requiredInformation||getField('address')?.touched) && getField('address')?.invalid">
                    {{'UPSERT_ANNOUNCE_SCREEN.ERROR.ADDRESS_REQUIRED'|translate}}
                  </app-custom-input-error>
                </div>
              </div>
              <div class="col-sm-3">
                <label class="mt-2">{{'UPSERT_ANNOUNCE_SCREEN.INFORMATION_FORM.WILLAYA'|translate}}</label>
                <select class="form-select" formControlName="willaya">
                  <option *ngFor="let element of willays" [value]="element">
                    {{ element }}
                  </option>
                </select>
                <div style="display: inline-block;">
                  <app-custom-input-error
                    *ngIf="(requiredInformation||getField('willaya')?.touched) && getField('willaya')?.invalid">
                    {{'UPSERT_ANNOUNCE_SCREEN.ERROR.CITY_REQUIRED'|translate}}
                  </app-custom-input-error>
                </div>
              </div>
              <div class="col-sm-3">
                <label class="mt-2">{{'UPSERT_ANNOUNCE_SCREEN.INFORMATION_FORM.CODE_POSTAL'|translate}}</label>
                <input class="form-control" type="tel" formControlName="codePostal"
                  placeholder="{{'UPSERT_ANNOUNCE_SCREEN.INFORMATION_FORM.CODE_POSTAL_PLACE_HOLDER'|translate}}">
                <div style="display: inline-block;">
                  <app-custom-input-error
                    *ngIf="(requiredInformation||getField('codePostal')?.touched) && getField('codePostal')?.invalid">
                    {{'UPSERT_ANNOUNCE_SCREEN.ERROR.POSTAL_REQUIRED'|translate}}
                  </app-custom-input-error>
                </div>
              </div>



              <div class="col-sm-6">
                <div formGroupName="details">
                  <label class="mt-2">{{'UPSERT_ANNOUNCE_SCREEN.INFORMATION_FORM.DESCRIPTION'|translate}}</label>
                  <p class="form-text text-muted text-xs ms-1 d-inline">
                    ({{'UPSERT_ANNOUNCE_SCREEN.INFORMATION_FORM.DESCRIPTION_OPTIONAL'|translate}})
                  </p>
                  <div>
                    <quill-editor class="content-editor" [modules]="quillConfig" formControlName="description">
                    </quill-editor>
                  </div>


                </div>
              </div>
              <div class="col-sm-6">



                <div class="col-sm-12" formGroupName="details">
                  <label class="mt-2">{{'UPSERT_ANNOUNCE_SCREEN.INFORMATION_FORM.JURIDICAL'|translate}}</label>
                  <select class="form-select" formControlName="juridical">
                    <option value="AADL">{{'UPSERT_ANNOUNCE_SCREEN.INFORMATION_FORM.JURIDICAL_TYPE.AADL'|translate}}
                    </option>
                    <option value="Public Promotional Housing">
                      {{'UPSERT_ANNOUNCE_SCREEN.INFORMATION_FORM.JURIDICAL_TYPE.LPP'|translate}}
                    </option>
                    <option value="Participative Social Housing">
                      {{'UPSERT_ANNOUNCE_SCREEN.INFORMATION_FORM.JURIDICAL_TYPE.LCP'|translate}}</option>
                    <option value="Promotional Housing">
                      {{'UPSERT_ANNOUNCE_SCREEN.INFORMATION_FORM.JURIDICAL_TYPE.LP'|translate}}
                    </option>
                    <option value="Aided Promotional Housing">
                      {{'UPSERT_ANNOUNCE_SCREEN.INFORMATION_FORM.JURIDICAL_TYPE.LPA'|translate}}
                    </option>
                    <option value="Property contract">
                      {{'UPSERT_ANNOUNCE_SCREEN.INFORMATION_FORM.JURIDICAL_TYPE.CONTRACT'|translate}}
                    </option>
                  </select>
                  <div style="display: inline-block;">
                    <app-custom-input-error
                      *ngIf="(requiredInformation||getField('juridical')?.touched) && getField('juridical')?.invalid">
                      {{'UPSERT_ANNOUNCE_SCREEN.ERROR.JURIDICAL_REQUIRED'|translate}}
                    </app-custom-input-error>
                  </div>
                </div>
                <div class="col-sm-12">
                  <label class="mt-2">{{'UPSERT_ANNOUNCE_SCREEN.INFORMATION_FORM.PRICE'|translate}}</label>
                  <div class="input-group">
                    <input class="form-control" type="tel"
                    placeholder="{{'UPSERT_ANNOUNCE_SCREEN.INFORMATION_FORM.PRICE_PLACE_HOLDER'|translate}}"
                    [value]="getField('amount')?.value | currency:'DZD'"
                    formControlName="price"
                    aria-describedby="prc">
                    <span class="input-group-text" id="prc">DZD</span>
                  </div>
                  <div style="display: inline-block;">
                    <app-custom-input-error
                      *ngIf="(requiredInformation||getField('price')?.touched) && getField('price')?.invalid">
                      {{'UPSERT_ANNOUNCE_SCREEN.ERROR.PRICE_REQUIRED'|translate}}
                    </app-custom-input-error>
                  </div>
                </div>






              </div>
            </div>

          </div>
        </div>



<!-- CHRACTERISTCS -->
        <div class="card my-4">
          <div class="card-body">
            <h4 class="font-weight-bolder">{{'UPSERT_ANNOUNCE_SCREEN.CHARACTERISTICS_TITLE'|translate}}</h4>
            <form role="form" formGroupName="details">
              <div class="row">

                <div class="col-sm-6" *ngFor="let dropdown of dropdowns; let i = index">

                  <label class="mt-3">{{ 'UPSERT_ANNOUNCE_SCREEN.CHARACTERISTICS_FORM.'+dropdown.label_upper |
                    translate
                    }}</label>

                  <ng-select class="ng-select avocatolib" [items]="getTranslatedItems(dropdown)" [multiple]=" true"
                    [closeOnSelect]="false" [searchable]="false" bindLabel="name"
                    placeholder="{{'UPSERT_ANNOUNCE_SCREEN.CHARACTERISTICS_FORM.SELECT_ITEMS'|translate}}"
                    [formControlName]="dropdown.label_form">

                  </ng-select>


                </div>
                <div class="col-sm-3">
                  <label
                    class="mt-3">{{'UPSERT_ANNOUNCE_SCREEN.CHARACTERISTICS_FORM.AIR_CONDITIONING'|translate}}</label>
                  <select class="form-select" formControlName="airContioning">
                    <option value=false>
                      {{'UPSERT_ANNOUNCE_SCREEN.CHARACTERISTICS_FORM.AIR_CONDITIONING_TYPE.EXIST'|translate}}</option>
                    <option value=true>
                      {{'UPSERT_ANNOUNCE_SCREEN.CHARACTERISTICS_FORM.AIR_CONDITIONING_TYPE.NO_EXIST'|translate}}
                    </option>
                  </select>
                </div>

                <div class="col-sm-3">
                  <label class="mt-3">{{'UPSERT_ANNOUNCE_SCREEN.CHARACTERISTICS_FORM.HEATING'|translate}}</label>
                  <select class="form-select" formControlName="heating">
                    <option value="Central">
                      {{'UPSERT_ANNOUNCE_SCREEN.CHARACTERISTICS_FORM.HEATING_TYPE.CENTRAL'|translate}}</option>
                    <option value="Chemini">
                      {{'UPSERT_ANNOUNCE_SCREEN.CHARACTERISTICS_FORM.HEATING_TYPE.CHIMNEY'|translate}}</option>
                  </select>
                </div>

                <div class="col-sm-3">
                  <label class="mt-3">{{'UPSERT_ANNOUNCE_SCREEN.CHARACTERISTICS_FORM.CITY'|translate}}</label>
                  <select class="form-select" formControlName="city">
                    <option value="Close">{{'UPSERT_ANNOUNCE_SCREEN.CHARACTERISTICS_FORM.CITY_TYPE.CLOSE'|translate}}
                    </option>
                    <option value="Open">{{'UPSERT_ANNOUNCE_SCREEN.CHARACTERISTICS_FORM.CITY_TYPE.OPEN'|translate}}
                    </option>
                  </select>
                </div>

                <div class="col-sm-3">
                  <label class="mt-3">{{'UPSERT_ANNOUNCE_SCREEN.CHARACTERISTICS_FORM.KITCHEN'|translate}}</label>
                  <select class="form-select" formControlName="kitchen">
                    <option value="seperate">
                      {{'UPSERT_ANNOUNCE_SCREEN.CHARACTERISTICS_FORM.KITCHEN_TYPE.SEPERATE'|translate}}</option>
                    <option value="open">{{'UPSERT_ANNOUNCE_SCREEN.CHARACTERISTICS_FORM.KITCHEN_TYPE.OPEN'|translate}}
                    </option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>