
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light ">
  <div class="container">
  <a class="navbar-brand" href="/">
    <img
      src="../../../assets/img/logo/logo.png"
      alt="Brand Logo"
      style="max-height: 35px"
    />
   
  </a>
  


    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i-bs class="navbar-toggler-icon" [name]="globeIcon"></i-bs>
     
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
       
        <a class="nav-link active px-5">Home</a>
        
        <a class="nav-link px-5">Features</a>
        <li class="nav-item dropdown">
          
          <a
            class="nav-link dropdown-toggle px-5"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          
            <li class="dropdown-item"><a>PC</a></li>
            
            <li class="dropdown-item"><a>Laptop</a></li>
            <li class="dropdown-item"><a >Accessories</a></li>
          </ul>
        </li>
      </div>
    </div>
  </div>
</nav>
