<h5 class="h5">home works</h5>

<!-- <div class="container-fluid">
  <div class="row">
    </div> -->
     <!--  <ng-container *ngFor="let item of data" >
        <app-annonce-template [annonce]="item" [ngClass]="'col-sm-4 col-md-3 mt-4 '"></app-annonce-template>
      </ng-container> -->
    
   <!--  <div class="row">
      <div class="col-6">
        <img src="" alt="">
      </div>
      <div class="col-6">
        <h3 class="h3">hello world 

        
        </h3>
        <p>qwertwertwertgwertyqwertwertwertgwerty</p>
        <div class="row">
          <div class="col-6">AUTHOR</div>
          <div class="col-6">date</div>
        </div>
      </div>
    </div>
  </div>  -->

