@font-face {
  font-family: Gilroy-Black;
  src: url(./fonts/gilroy/Gilroy-Black.ttf);
}

@font-face {
  font-family: Gilroy-Medium;
  src: url(./fonts/gilroy/Gilroy-Medium.ttf);
}

@font-face {
  font-family: Gilroy-SemiBold;
  src: url(./fonts/gilroy/Gilroy-SemiBold.ttf);
}
